<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <%= render @quotes %>
  </section>
  <!-- END ARTICLE FEED -->
</div>

<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <%= link_to "Add quote", new_quote_path, class: "button is-primary"%>
  </p>
</div>
