<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <%= render @quotes %>
    <div class="column is-8 is-offset-2">
      <%= paginate @quotes %>
    </div>
  </section>
  <!-- END ARTICLE FEED -->
</div>


<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <%= link_to "Add quote", new_quote_path, class: "button is-primary"%>
  </p>
</div>
